$mobile: "only screen and (max-width: 575px)";
$small: "only screen and (min-width: 576px)";
$medium: "only screen and (min-width: 768px)";
$large: "only screen and (min-width: 992px)";
$x-large: "only screen and (min-width: 1200px)";
$xx-large: "only screen and (min-width: 1500px)";

$ltMedium: "only screen and (max-width: 767px)";
$ltLarge: "only screen and (max-width: 991px)";
$lt-x-large: "only screen and (max-width: 1200px)";
